:root{
    --fuente-principal: 'Franklin Gothic Medium';
    --price-color:  #35ab62;
}

/* Media query para tabletas */
@media (max-width: 768px) {
    body {
        font-family: var(--fuente-principal);
        margin: 0;
        padding: 0;
        background-color: #282831;
        width: 100vw;
        overflow-x: hidden;
    }
    main {
        overflow-x: hidden;
        /* flex-direction: column;
        display: flex;
        justify-self: center; */
        width: 100vw;
        padding-top: 20vh;
        padding-bottom: 5%;
    }
    .categoria-carrusel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .categoria-carrusel h1{
        color: #A985DA;
        font-family: var(--fuente-principal);
        font-size: 22px;
        font-weight: 300;
        text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
    }

    .categoria-carrusel h3{
        height: 50%;
        color: #A985DA;
        font-size: 18px;
        font-weight: 300;
        font-family: var(--fuente-principal);
        text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease;
    }

    .mobile-contenedor-icono-carrito{
        display: flex;
        justify-content: flex-end;
        width: 80px;
    }

    .mobile-contenedor-icono-carrito .mobile-carrito{
        position: absolute;
        left: -10%;
        top: -20%;
        width: 150px; 
        height: 44px; 
        justify-content: center; 
        align-items: center; 
        display: inline-flex;
        background: linear-gradient(0deg, #6313f8 0%, #6644A6 100%); 
        border-radius: 15px;
        padding-right: 2%;
        transition: width 0.3s; /* Agregar la propiedad de transición */
    }

    .mobile-carrito span{
        display: none;
        margin-left: 10px;
    }
    
    .mobile-contenedor-icono-carrito .mobile-carrito .show{
        display:block;
    }
    
    .mobile-contenedor-icono-carrito .mobile-carrito.ampliado {
        width: 150px;
    }
    
    .mobile-contenedor-icono-carrito .mobile-carrito img{
        position: relative;
        max-height: 73%;
    }
    .mobile-contenedor-icono-carrito .mobile-carrito.ampliado.wElem{
        box-shadow: 0px 0px 14px -4px rgba(107, 0, 184, 0.8); 
    }


    .categoria-carrusel h3.hidden{
        opacity: 0;
    }
    .desktop-header{
        display: none;
    }
    /* Estilos para la navbar */
    .mobile-navbar {
        position: fixed;
        height: 7vh;
        width: 100vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        background: var(--secundario1, #111121);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.30);
        z-index: 4; /* Asegura que el navbar esté por encima del sidebar */
    }
    .mobile-search-navbar{
        position: fixed;
        height: 8vh;
        width: 100vw;
        top: 10vh;
        background: #1C1C29;
        opacity: .8;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.30);
        z-index: 3; /* Asegura que el navbar esté por encima del sidebar */
        transition: top 1s ease;
    }
    .input-buscar-mobile {
        padding-right: 30px; /* Espacio para la imagen de la lupa */
        border: none;
        height: 5vh;
        width: 60vw;
        background: #dbdbdb;
        color: white;
    }
    .icono-lupa {
        position: absolute;
        margin-left: 50vw;
        height: 10px;
        width: 10px;
        opacity: 0.7;
    }
    .mobile-search-navbar.oculto {
        top: -10vh;
    }

    .mobile-search-navbar.enfoque {
        background: #13131b;
        opacity: 1;
    }
    
    .mobile-header .mobile-search-navbar .contenido-search-navbar{
        display: flex;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
        padding-left: 2%;
    }

    .mobile-search-navbar input[type="text"] {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px; /* Ajusta el valor según la cantidad de redondeo deseada */
        /* Otros estilos para el input */
    }
    
    
    .sidebar{
        display: none;
    }
    .mobile-navbar-left{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        overflow: hidden;
        flex-shrink: 0;
        margin-left: 5%;
        transition: height 0.5s ease;
    }
    /* Cuando se activa el burger */
    .mobile-navbar-left-active{
        height: 10px;
        background-color: white;
        border-radius: 10%;
        transition: height 0.3s ease, background-color 0.5s ease;
    }
    /* Estilos para la parte izquierda de la navbar (logo) */
    .mobile-navbar-left img {
        height: 100%;
        width: 100%;
    }
    
    .mobile-navbar-center{
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
    
    .mobile-navbar-center img {
        width: 62px;
        height: 71px;
    }
    
    .mobile-navbar-right{
        margin-right: 5%;
    }
    .mobile-navbar-right .usuario{
        width: 40px; 
        height: 40px; 
        left: 0px; top: 0px; 
        align-items: center;
        justify-content: center;
        background: #E4E4E4; 
        border-radius: 102px;
    }
    
    .mobile-navbar-right .usuario img{
        position: relative;
        max-height: 100%;
    }

    .carousel-item {
        display: flex;
        height: 50vh;
        width: 70vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); 
        box-shadow: 0px 0px 60px -8px rgba(169, 133, 218, 0.80); 
        border-radius: 5px; 
        margin-right: 10px;
        margin-left: 10px;
        align-items: center;
        overflow-x: hidden;
        transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el cambio */ 
    }

    .secundary .carousel-item {
        display: flex;
        background: #111121;
        flex-direction: column;
        height: 40vh;
        width: 35vw;
        padding: 8px 8px 5px 8px;
        box-shadow: 6px 8px 24px -6px rgba(0, 0, 0, 0.8); 
        border-radius: 5px; 
        overflow: hidden; 
        align-items: center;
        display: inline-flex;
        text-align: center;
        position: relative;
    }
    .comprar{
        padding: 2px 5px 2px 5px;
        background: rgb(40, 142, 118);
        color: white;
        font-family: var(--fuente-principal);
        border-radius: 15px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
        box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
        transition: transform 0.3s ease;
        margin-top: 5%;
        margin-bottom: 5%;
    }
   .carousel-container-recommended .carousel-item .price.free{
        margin-bottom: 15%;
    }
    .carousel-container-adventure .carousel-item .price.free{
        margin-bottom: 15%;
    }
    .price.main{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            color: var(--price-color);
            font-size: 20px;
            font-family: var(--fuente-principal);
            font-weight: 400;
    }
    .secundary .carousel-item .title { 
        color: #E4E4E4;
        font-size: 100%;
        max-width: 90%;
        font-family: var(--fuente-principal);
        overflow: hidden; /* Ocultar el texto desbordado */
    }
    
    .secundary .carousel-item .price {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        bottom: 0px;
        color: var(--price-color);
        font-size: 20px;
        font-family: var(--fuente-principal);
        font-weight: 400;
        margin-bottom: 3%;
    }
    .secundary .carousel-item .carousel-image {
        width: 100%;
        height: 70%;
        min-height: 70%;
        max-height: 70%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        overflow: hidden;
    }
    
    .secundary .carousel-item .carousel-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    .carousel-main-container .carousel-item .carousel-content .info-content {
        position: absolute;
        width: 100%;
        text-align: center;
        padding-bottom: 2%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.8) 100%);
        cursor: pointer;
        z-index: 2; /* Ajusta el z-index para que esté por encima de overlayOscura */
    }
    .contenedor-boton-mas-juegos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #botonMasJuegos {
        margin-top: 7vh;
        margin-bottom: 5vh;
        padding: 10px 20px 10px 20px;
        background: #6644A6;
        border-radius: 5px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
        box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
        transition: background-color 0.3s; /* Agrega una transición suave */
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        color: #845EC2; /* Color de la fuente */
    }
    
    .footer-container {
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 10%;
    }
    .footer-section {
        flex: 1;
        max-width: 100%; /* Ancho máximo de cada sección */
        text-align: center; /* Alineación del texto a la izquierda */
        margin-left: 2%;
        margin-right: 2%;
    }
    .contenidoEnteroCarouselPrincipal .carousel-arrow .left-arrow {
        height: 13%;
        width: auto;
        left: 10px; /* Alinea la flecha izquierda */
        margin-left: 10px;
    }
    .contenidoEnteroCarouselPrincipal .carousel-arrow .right-arrow {
        height: 13%;
        width: auto;
        right: 10px; /* Alinea la flecha derecha */
        margin-right: 10px;
    }
    .contenidoEnteroCarouselRecommended .carousel-arrow {
        display: none;
    }
    .contenidoEnteroCarouselAdventure .carousel-arrow {
        display: none;
    }


    /* Menu lateral usuario */
    /* Estilo inicial del menú lateral */
    .menu-lateral {
        position: fixed;
        top: 0;
        right: -200px; /* Empieza fuera de la pantalla */
        width: 200px;
        border-bottom-left-radius: 5%;
        border-top-left-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #333;
        color: white;
        transition: right 0.3s ease; /* Agregamos una transición suave */
        z-index: 5;
    }
    .menu-lateral ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .menu-lateral li {
        margin: 10px 0;
    }
    
    .menu-lateral a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    /* Estilos del perfil de usuario */
    .user-profile {
        width: 72px;
        height: 72px;
        left: 32%;
        top: 29px;
        position: absolute;
        background: #e0e0e0;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .usuario-y-notificacion{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
        position: relative;
    }
    .notificacion-usuario{
        position: absolute;
        width: 20px;
        height: 20px;
        right: -2vw;
        top: 0.5vw;
        background: linear-gradient(0deg, #5813f8 0%, #6644A6 100%); 
        border-radius: 50%;
        color: white;
        font-size: 12px;
        font-family: var(--fuente-principal);
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
    }

    .notificacion-usuario.oculto{
        opacity: 0;
    }

    .profile-image img {
        width: 72px;
        height: 72px;
        left: 0px;
        top: 0px;
        border-radius: 50%;
    }

    .profile-name {
        display: none;
    }

    .sidebar-mobile {
        position: fixed;
        top: -1500px; /* Ajusta esto según el alto del navbar */
        left: 0;
        bottom: 0;
        width: 40vw;
        height: 100vh;
        background: #1C1C29;
        padding: 20px;
        box-shadow: 4px 0px 7px 0px rgba(0, 0, 0, 0.25);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding-top: 17vh;
        z-index: 3; /* Asegura que el sidebar esté detrás del navbar */
        transition: top 0.7s ease;
    }

    .sidebar-mobile-active{
        top: 0px;
    }

    .sidebar-mobile h3{
        color: #A985DA;
        font-size: 23px;
        font-family: var(--fuente-principal);
        font-weight: 400;
        word-wrap: break-word
    }
    
    .sidebar-mobile ul{
        list-style: none;
        margin-top: 30px;
        padding: 0;
    }
    .sidebar-mobile li{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #A985DA;
        font-family: var(--fuente-principal);
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
        letter-spacing: 2px;
        filter: brightness(1.0);
        transition: filter 0.3s ease;
    }
    .sidebar-mobile li:hover{
        filter: brightness(1.5);
        cursor: pointer;
    }
    .sidebar-mobile img{
        width: 20%;
        height: 20%;
        margin-right: 13px;
    }
    .secundary .carousel-container-recommended {
        display: flex;
        flex-direction: row;
        margin-left: 170vw;
    }
    .secundary .carousel-container-adventure {
        display: flex;
        flex-direction: row;
        margin-left: 170vw;
    }
    
}

/* Media query para escritorios */
@media (min-width: 768px) {
/* Estilos generales */
body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    background-color: #282831;
}
main {
    overflow: visible;
}

.categoria-carrusel h3{
    display: none;
}
.mobile-header{
    display: none;
}
.sidebar-mobile{
    display: none;
}
/* Estilos para la navbar */
.navbar {
    position: fixed;
    height: 7vh;
    top: 0;
    left: 0;
    right: 0;
    background: var(--secundario1, #111121);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.30);
    z-index: 4; /* Asegura que el navbar esté por encima del sidebar */
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30vh;
    height: 100%;
    padding-top: 15vh;
    overflow-y: visible;
    overflow-x: hidden;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: 1;
}
.sidebar {
    position: fixed;
    top: 60px; /* Ajusta esto según el alto del navbar */
    left: 0;
    bottom: 0;
    width: 25vh;
    background: #1C1C29;
    padding: 20px;
    box-shadow: 4px 0px 7px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 3; /* Asegura que el sidebar esté detrás del navbar */
}
.sidebar h3{
    color: #A985DA;
    font-size: 23px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    word-wrap: break-word
}

.sidebar ul{
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
.sidebar li{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #A985DA;
    font-family: var(--fuente-principal);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 2px;
    filter: brightness(1.0);
    transition: filter 0.3s ease;
}
.sidebar li:hover{
    filter: brightness(1.5);
    cursor: pointer;
}
.sidebar img{
    width: 20%;
    height: 20%;
    margin-right: 13px;
}
.navbar-left{
    display: flex;
    padding: 0px 5px 2px 0px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    filter: brightness(1.0);
    transition: filter 0.3s ease;
}
.navbar-left:hover{
    filter: brightness(1.5);
    cursor: pointer;
}
/* Estilos para la parte izquierda de la navbar (logo) */
.navbar-left img {
    margin: 0px 5px 0px 5px;
    width: 62px;
    height: 71px;
    flex-shrink: 0;
    transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease; /* Agregar transiciones para width y height */
}
.navbar-left img:hover {
    width: 67px; /* Nuevo ancho cuando se coloca el mouse encima */
    height: 76px; /* Nuevo alto cuando se coloca el mouse encima */
    margin: 0px 2.5px 0px 2.5px;
  }
  .navbar-left h1{
      color: #A985DA;
      font-size: 30px;
      font-family: 'MedievalSharp', cursive;
      font-weight: 500;
      word-wrap: break-word
  }
  .navbar-center{
      display: flex;
      width: 380px;
      height: 75%;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
  }
  .navbar-center .botonBuscar {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      padding-right: 50px;
      background: #6644A6;
      border-radius: 5px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
      transition: background-color 0.3s; /* Agrega una transición suave */
  }
  .navbar-center .botonBuscar:hover {
      background: #331D70; /* Cambia el color de fondo al hacer hover */
      cursor: pointer;
  }
  
  
  .botonBuscar .texto{
      color: white; 
      font-size: 16px; 
      font-family: var(--fuente-principal);
      font-weight: 400; 
      letter-spacing: 2.48px; 
      word-wrap: break-word
  }
  
  /* Estilos para la parte central de la navbar (barra de búsqueda) */
  .navbar-center input {
      width: 100%;
      height: 80%;
      flex-shrink: 0;
      background-color: #dbdbdb;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 16px;
      padding-left: 4%;
  }
  .navbar-center input::placeholder{
      color: rgb(152, 152, 152);
  }
  /* Estilos para el contenedor del input */
  .search-input {
      display: flex;
      align-items: center;
      background-color: #fff; /* Fondo blanco para el input */
      border: 1px solid #ccc; /* Borde del input */
      border-radius: 5px;
      padding: 5px;
  }
  
  /* Estilos para el input */
  .search-input input {
      flex: 1;
      border: none;
      outline: none; /* Quita el borde al hacer clic */
      padding: 5px;
      background: url('./Resources/e1c614ce98832b729e1034e23fb0dd88.png') no-repeat left center; /* Agrega la imagen de la lupa a la izquierda */
      background-size: 20px; /* Ajusta el tamaño de la imagen */
  }
  
  /* Estilos para el botón */
  .search-input button {
      border: none;
      background-color: #333;
      color: white;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
  }
  
  /* Estilo para el botón al hacer hover */
  .search-input button:hover {
      background-color: #555;
      cursor: pointer;
    }
    .navbar-right{
        display: flex;
        padding: 0px 0px 2px 5px;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-end;
    }
    
    .navbar-right .contenedorIconoCarrito{
        display: flex;
        justify-content: flex-end;
        width: 80px;
    }
    
    .navbar-right .contenedorIconoCarrito .carrito {
        width: 65px; 
        height: 44px; 
        justify-content: center; 
        align-items: center; 
        display: inline-flex;
        background: linear-gradient(0deg, #6644A6 0%, #6644A6 100%); 
        border-radius: 35px;
        margin-right: 10%;
        padding-right: 2%;
        transition: width 0.3s; /* Agregar la propiedad de transición */
    }

    .navbar-right .contenedorIconoCarrito .carrito span{
        display: none;
        padding-left: 5px;
    }
    
    .navbar-right .contenedorIconoCarrito .carrito .show{
        display:block;
    }
    
    .navbar-right .carrito.ampliado {
        width: 80px;
    }
    
    .navbar-right .carrito:hover{
        cursor: pointer;
        box-shadow: 0px 0px 12px -4px rgba(169, 133, 218, 0.80); 
    }
    .navbar-right .usuario:hover{
        cursor: pointer;
        box-shadow: 0px 0px 14px -4px rgba(169, 133, 218, 0.80); 
    }
    
    .navbar-right .carrito img{
        position: relative;
        max-height: 73%;
    }
    
    .navbar-right .usuario{
        width: 44px; 
        height: 44px; 
        left: 0px; top: 0px; 
        align-items: center;
        justify-content: center;
        background: #E4E4E4; 
        border-radius: 102px;
    }
    
    .navbar-right .usuario img{
        position: relative;
        max-height: 100%;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        color: #845EC2; /* Color de la fuente */
        margin-left: 30vh;
    }
    .carousel-item {
        display: flex;
        height: 43vh;
        width: 33vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); 
        box-shadow: 0px 0px 60px -8px rgba(169, 133, 218, 0.80); 
        border-radius: 5px; 
        margin-right: 10px;
        margin-left: 10px;
        align-items: center;
        transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el cambio */ 
    }
    .secundary .carousel-item {
        display: flex;
        background: #111121;
        flex-direction: column;
        height: 24vh;
        width: 16vw;
        padding: 8px 8px 5px 8px;
        box-shadow: 6px 8px 24px -6px rgba(0, 0, 0, 0.8); 
        border-radius: 5px; 
        overflow: hidden; 
        justify-content: flex-start; 
        align-items: flex-start; 
        display: inline-flex;
        align-content: space-between;
        position: relative;
    }

    .comprar{
        padding: 2px 5px 2px 5px;
        background: rgb(40, 142, 118);
        color: white;
        font-family: var(--fuente-principal);
        border-radius: 15px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
        box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
        transition: transform 0.3s ease;
        position: absolute;
        margin-left: 64%;
        margin-bottom: 5%;
    }
    .secundary.carousel-item.price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        color: var(--price-color);
        font-size: 20px;
        font-family: var(--fuente-principal);
        font-weight: 400;
        word-wrap: break-word;
    }
    .secundary .carousel-item .carousel-image {
        width: 100%;
        height: 70%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        overflow: hidden;
    }
    
    .secundary .carousel-item .carousel-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .carousel-main-container .carousel-item .carousel-content .info-content {
        position: absolute;
        width: 100%;
        padding-top: 20%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.8) 100%);
        cursor: pointer;
        z-index: 2; /* Ajusta el z-index para que esté por encima de overlayOscura */
    }
    .price {
        display: flex;
        width: 100%;
        color: var(--price-color);
        font-size: 20px;
        font-family: var(--fuente-principal);
        font-weight: 400;
    }
    #botonMasJuegos {
        margin: 100px 0px 50px 53%;
        padding: 10px 20px 10px 20px;
        background: #6644A6;
        border-radius: 5px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
        box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
        transition: background-color 0.3s; /* Agrega una transición suave */
    }
    .secundary h1{
        color: #A985DA;
        margin-left: 5%;
        font-family: var(--fuente-principal);
        font-size: 30px;
        font-weight: 300;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 10%;
    }

    .footer-section {
        flex: 1;
        max-width: 20%; /* Ancho máximo de cada sección */
        text-align: left; /* Alineación del texto a la izquierda */
        margin-left: 2%;
        margin-right: 2%;
    }

    .contenidoEnteroCarouselPrincipal .carousel-arrow .left-arrow {
        height: 30%;
        width: auto;
        left: 10px; /* Alinea la flecha izquierda */
        margin-left: 10px;
    }
    .contenidoEnteroCarouselPrincipal .carousel-arrow .right-arrow {
        height: 30%;
        width: auto;
        right: 10px; /* Alinea la flecha derecha */
        margin-right: 10px;
    }
    .contenidoEnteroCarouselRecommended .carousel-arrow {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 2; /* Para que las flechas estén por encima de las tarjetas */
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                    linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
        pointer-events: none;
        opacity: 1; /* Establece la opacidad inicial en 1 */
        transition: opacity 0.2s ease;
    }
    .contenidoEnteroCarouselAdventure .carousel-arrow {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 2; /* Para que las flechas estén por encima de las tarjetas */
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                    linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
        pointer-events: none;
        opacity: 1; /* Establece la opacidad inicial en 1 */
        transition: opacity 0.2s ease;
    }


    /* Menu lateral usuario */
    /* Estilo inicial del menú lateral */
    .menu-lateral {
        position: fixed;
        top: 0;
        right: -250px; /* Empieza fuera de la pantalla */
        width: 250px;
        opacity: .97;
        border-bottom-left-radius: 5%;
        border-top-left-radius: 5%;
        height: 100%;
        background-color: #333;
        color: white;
        transition: right 0.3s ease; /* Agregamos una transición suave */
        z-index: 5;
    }
    .menu-lateral ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .menu-lateral li {
        margin: 10px 0;
    }
    
    .menu-lateral a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    /* Estilos del perfil de usuario */
    .user-profile {
        width: 72px;
        height: 72px;
        left: 33px;
        top: 29px;
        position: absolute;
        background: #e0e0e0;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }


    .profile-image img {
        width: 72px;
        height: 72px;
        left: 0px;
        top: 0px;
        position: absolute;
        border-radius: 50%;
    }

    .profile-name {
        left: 112px;
        top: 40%;
        position: absolute;
        color: #e0e0e0;
        font-size: 20px;
        font-family: Merriweather;
        font-weight: 400;
        word-wrap: break-word;
    }
    .secundary .carousel-container-recommended {
        display: flex;
        flex-direction: row;
        margin-left: 30vw;
    }
    .secundary .carousel-container-adventure {
        display: flex;
        flex-direction: row;
        margin-left: 30vw;
    }

    .mobile-contenedor-icono-carrito{
        display: none;
    }
    .carousel-item:hover {
        box-shadow: 0px 0px 20px 6px rgba(169, 133, 218, 0.80); 
        /* cursor: pointer; */
    }
    

    .secundary .carousel-item .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        opacity: 0; /* Inicialmente oculto */
        transition: opacity 0.3s ease; 
    }
    .secundary .carousel-item:hover .play-button {
        opacity: 1; /* Mostrar el botón cuando se hace hover */
    }

    .secundary .carousel-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Color semi-transparente */
        opacity: 0; /* Inicialmente oculto */
        transition: opacity 0.3s ease; /* Transición suave de opacidad */
    }

    .secundary .carousel-item:hover .overlay {
        opacity: 1; /* Mostrar la capa semi-transparente al hacer hover */
    }
    .secundary .carousel-item .title { 
        color: #E4E4E4;
        font-size: 20px;
        font-family: var(--fuente-principal);
        
    }

}

/* CARROUSEL */

.contenidoEnteroCarouselPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}
.contenidoEnteroCarouselPrincipal .carousel-arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2; /* Para que las flechas estén por encima de las tarjetas */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    opacity: 1; /* Establece la opacidad inicial en 1 */
    transition: opacity 0.2s ease;
}

/* modificaciones limites */

.contenidoEnteroCarouselPrincipal .carousel-arrow .limiteIzquierdo img{
    display: none;
}
.contenidoEnteroCarouselPrincipal .carousel-arrow.limiteIzquierdo{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}
.contenidoEnteroCarouselPrincipal .carousel-arrow .limiteDerecho img{
    display: none;
}
.contenidoEnteroCarouselPrincipal .carousel-arrow.limiteDerecho{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}



.contenidoEnteroCarouselPrincipal .carousel-arrow .left-arrow img{
    height: 100%;
    object-fit: cover;
    opacity: .7;
}



.contenidoEnteroCarouselPrincipal .carousel-arrow .right-arrow img{
    height: 100%;
    object-fit: cover;
    opacity: .7;
}
.contenidoEnteroCarouselPrincipal:hover .carousel-arrow {
    opacity: 0; /* Cambia la opacidad a 0 cuando haces hover en el contenedor principal */
    pointer-events: none; /* Evita que los eventos de puntero lleguen al div del carrusel */
}
.contenidoEnteroCarouselPrincipal .carousel-arrow:hover{
    opacity: 0;
    pointer-events: auto;
}


.contenidoEnteroCarouselRecommended{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    
}

/* modificaciones limites */

.contenidoEnteroCarouselRecommended .carousel-arrow .limiteIzquierdo img{
    display: none;
}
.contenidoEnteroCarouselRecommended .carousel-arrow.limiteIzquierdo{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}
.contenidoEnteroCarouselRecommended .carousel-arrow .limiteDerecho img{
    display: none;
}
.contenidoEnteroCarouselRecommended .carousel-arrow.limiteDerecho{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}
.contenidoEnteroCarouselRecommended .carousel-arrow .left-arrow {
    height: 30%;
    left: 10px; /* Alinea la flecha izquierda */
    margin-left: 10px;
}

.contenidoEnteroCarouselRecommended .carousel-arrow .left-arrow img{
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.contenidoEnteroCarouselRecommended .carousel-arrow .right-arrow {
    height: 30%;
    right: 10px; /* Alinea la flecha derecha */
    margin-right: 10px;
}

.contenidoEnteroCarouselRecommended .carousel-arrow .right-arrow img{
    height: 100%;
    object-fit: cover;
    opacity: .7;
}
.contenidoEnteroCarouselRecommended:hover .carousel-arrow {
    opacity: 0; /* Cambia la opacidad a 0 cuando haces hover en el contenedor principal */
    pointer-events: none; /* Evita que los eventos de puntero lleguen al div del carrusel */
}
.contenidoEnteroCarouselRecommended .carousel-arrow:hover{
    opacity: 0;
    pointer-events: auto;
}


/*------------------------------------------------------*/


.contenidoEnteroCarouselAdventure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: relative;

}

/* modificaciones limites */

.contenidoEnteroCarouselAdventure .carousel-arrow .limiteIzquierdo img{
    display: none;
}
.contenidoEnteroCarouselAdventure .carousel-arrow.limiteIzquierdo{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}
.contenidoEnteroCarouselAdventure .carousel-arrow .limiteDerecho img{
    display: none;
}
.contenidoEnteroCarouselAdventure .carousel-arrow.limiteDerecho{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}
.contenidoEnteroCarouselAdventure .carousel-arrow .left-arrow {
    height: 30%;
    left: 10px; /* Alinea la flecha izquierda */
    margin-left: 10px;
}

.contenidoEnteroCarouselAdventure .carousel-arrow .left-arrow img{
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.contenidoEnteroCarouselAdventure .carousel-arrow .right-arrow {
    height: 30%;
    right: 10px; /* Alinea la flecha derecha */
    margin-right: 10px;
}

.contenidoEnteroCarouselAdventure .carousel-arrow .right-arrow img{
    height: 100%;
    object-fit: cover;
    opacity: .7;
}
.contenidoEnteroCarouselAdventure:hover .carousel-arrow {
    opacity: 0; /* Cambia la opacidad a 0 cuando haces hover en el contenedor principal */
    pointer-events: none; /* Evita que los eventos de puntero lleguen al div del carrusel */
}
.contenidoEnteroCarouselAdventure .carousel-arrow:hover{
    opacity: 0;
    pointer-events: auto;
}


/*------------------------------------------------------*/
.carousel-main-container {
    display: flex;
    align-items: center;
}




.carousel-item img{
    cursor: pointer;
}

.carousel-main-container .carousel-item .carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 32px;
    font-weight: 400;
    font-family: var(--fuente-principal);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}

.carousel-main-container .carousel-item .carousel-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
}


.carousel-main-container .carousel-item .carousel-content .overlayOscura {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar el cambio */
    z-index: 1; /* Asegura que overlayOscura esté detrás de info-content */
}

.carousel-main-container .carousel-item:hover .carousel-content .overlayOscura {
    opacity: 0;
}




.second-content{
    width: 100%;

}
.secundary { 
    display: flex;
    flex-direction: column;
    margin-top: 2%;


}




.secundary .carousel-item .price { 
    color: var(--price-color);
    font-size: 14px;
}



#botonMasJuegos:hover {
    background: #331D70; /* Cambia el color de fondo al hacer hover */
    cursor: pointer;
}
#botonMasJuegos .texto{
    color: white; 
    font-size: 14px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10; 
    letter-spacing: 2.48px; 
    word-wrap: break-word
}




.free {
    filter: brightness(2);
}

.comprar.active {
    transform: rotateY(135deg);
    background: rgb(23, 76, 94);
}

.comprar.activado{
    background: rgb(50, 158, 212);
}
.textoBotonCarrito, .imagenCarrito {
    transition: opacity 0.3s ease, transform 0.3s ease; /* Agregamos una transición a la imagen */
}

.textoBotonCarrito.hidden {
    opacity: 0;
}

.imagenCarrito.hidden {
    opacity: 0;
}

.comprar img{
    width: 15px;
    margin-left: -10px;
}
.pago:hover{
    cursor:auto;
}
.comprar:hover{
    cursor: pointer;
}


/* Estilo del fondo semi-transparente */
.fondo-semi-transparente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color semi-transparente */
    display: none; /* Inicialmente oculto */
    z-index: 1; /* Coloca el fondo por encima de otros elementos */
}



/* Estilo del botón de usuario */
.usuario:hover {
    cursor: pointer;
}

/* Estilo para mostrar el menú lateral */
.menu-activo {
    right: 0;
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to top, #36323b 0%, #ae8bc2 100%);
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}

/* Estilos del menú lateral */
.menu {
    left: 36.50px;
    top: 155px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 37px;
    display: inline-flex;
}

.menu-item {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.menu-link {
    color: #e0e0e0;
    font-size: 16px;
    font-family: Merriweather Sans;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 2.48px;
    word-wrap: break-word;
}

/* Estilos de los íconos de usuario */
.user-icons {
    left: 33px;
    top: 443px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
    display: inline-flex;
}

.user-icon {
    width: 49px;
    height: 47px;
    border-radius: 15px;
}

/* Footer */
/* Estilos generales del footer */
/* FOOTER */


/* Estilos para el contenedor principal del footer */


/* Estilos para cada sección del footer */


/* Estilos para los enlaces */
.footer-section a {
    text-decoration: none;
    color: #845EC2;
}

/* Estilos para los enlaces "Leer más" */
.footer-section a:hover {
    text-decoration: underline;
}

/* Estilos para los iconos de redes sociales */
.footer-section img {
    width: 40px;
    height: 40px;
    margin-top: 10px; /* Espacio entre el párrafo y los iconos */
}

.footer-section ul {
    list-style: none;
    padding: 0; /* Elimina el padding predeterminado */
}

.footer-section ul li {
    margin-top: 10px;
}

/* Carrito */
/* Estilos para el menú de carrito */

.carrito-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    height: auto;
    width: 400px;
    border-radius: 2%;
    top: -50%; 
    right: 5%;
    background-color: #E8E8EB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 3;
    transition: top 0.3s ease; /* Agrega una transición suave */
    opacity: 0.95; /* Agrega la propiedad opacity para hacer el menú un poco transparente */
}

.carrito-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.carrito-activo{
    top: 10%;
}

.carrito-menu li{
    color: #111121;
}

.contenedorImagenCarrito{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right: 10px;
    overflow: hidden;
}

.contenedorImagenCarrito img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrito-list li span {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para el elemento que muestra el total */
.carrito-list li:last-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.contenedorTextoCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.textoCarrito{
    color: #111121;
    font-size: 16px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    letter-spacing: 2.48px;

}
.precioCarrito {
    color: #111121;
    font-size: 16px;
    font-family: var(--fuente-principal);
    font-weight: 400;
}

.contenedorTotalCarrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.totalCarrito{
    color: #111121;
    font-size: 16px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    letter-spacing: 2.48px;
}

.contenedorTotalCarrito.hidden{
    display: none;
}

.contenedorMensajeVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedorMensajeVacio li{
    color: #696969;
    font-family: var(--fuente-principal);
    letter-spacing: 2.48px;
}








/* LOGIN REGISTER  */
.navbar-login{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    filter: brightness(1.0);
    transition: filter 0.3s ease;
}
.navbar-login img {
    margin-left: 0.3vw;
    width: 4vw;
    flex-shrink: 0;
}
.navbar-login h1{
    color: #A985DA;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    font-weight: 500;
    word-wrap: break-word
}

.mobile-navbar-login{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.mobile-navbar-login img {
    width: 9vh;
}

footer.footer-login {
    margin-left: 0px;
}


.form-registro {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 80vh;
    padding: 1vh 5vw 0vh 5vw;
    border-radius: 10px;
    box-shadow: 0 0 30px 0px rgba(167, 125, 251, 0.647);
}
.form-registro div {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.form-registro .botones {
    margin: 0.8vh 0 1vh 0;
    height: 8vh;
    width: 100%;
}

.form-registro label{
    color: rgb(182, 152, 240);
}
.form-registro h2 {
    margin-bottom: 3vh;
    color: rgb(182, 152, 240);
}

.form-registro input {
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3.5px;
}

.form-registro .botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-registro .button {
    width: 15vh;
    height: 4vh;
    font-size: 1.7vh;
    font-weight: 300;
    color: white;
    background: #6644A6;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    transition: background-color 0.3s; /* Agrega una transición suave */
}
.form-registro .button:hover {
    background: #331D70;
    cursor: pointer;
} */
.contenido.login {
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 0 0 10vh;
    overflow-y: visible;
    overflow-x: hidden;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: 1;
}

main.login{
    height: 100vh;
}
