:root{
    --fuente-principal: 'Franklin Gothic Medium';
    --price-color:  #35ab62;
}
/* Estilos generales */
body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    background-color: #282831;
}
main {
    overflow: visible;
}


/* Estilos para la navbar */
.navbar {
    position: fixed;
    height: 7vh;
    top: 0;
    left: 0;
    right: 0;
    background: var(--secundario1, #111121);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.30);
    z-index: 4; /* Asegura que el navbar esté por encima del sidebar */
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25vh;
    height: 100%;
    padding-top: 15vh;
    overflow-y: visible;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: 1;
}

.sidebar {
    position: fixed;
    top: 60px; /* Ajusta esto según el alto del navbar */
    left: 0;
    bottom: 0;
    width: 25vh;
    background: #1C1C29;
    padding: 20px;
    box-shadow: 4px 0px 7px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 3; /* Asegura que el sidebar esté detrás del navbar */
}
.sidebar h3{
    color: #A985DA;
    font-size: 23px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    word-wrap: break-word
}

.sidebar ul{
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
.sidebar li{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #A985DA;
    font-family: var(--fuente-principal);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 2px;
    filter: brightness(1.0);
    transition: filter 0.3s ease;
}
.sidebar li:hover{
    filter: brightness(1.5);
    cursor: pointer;
}
.sidebar img{
    width: 20%;
    height: 20%;
    margin-right: 13px;
}


.navbar-left{
    display: flex;
    padding: 0px 5px 2px 0px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    filter: brightness(1.0);
    transition: filter 0.3s ease;
}
.navbar-left:hover{
    filter: brightness(1.5);
    cursor: pointer;
}
/* Estilos para la parte izquierda de la navbar (logo) */
.navbar-left img {
    margin: 0px 5px 0px 5px;
    width: 62px;
    height: 71px;
    flex-shrink: 0;
    transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease; /* Agregar transiciones para width y height */
}
.navbar-left img:hover {
    width: 67px; /* Nuevo ancho cuando se coloca el mouse encima */
    height: 76px; /* Nuevo alto cuando se coloca el mouse encima */
    margin: 0px 2.5px 0px 2.5px;
  }

.navbar-left h1{
    color: #A985DA;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    font-weight: 500;
    word-wrap: break-word
}
.navbar-center{
    display: flex;
    width: 380px;
    height: 75%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.navbar-center .botonBuscar {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background: #6644A6;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    transition: background-color 0.3s; /* Agrega una transición suave */
}

.navbar-center .botonBuscar:hover {
    background: #331D70; /* Cambia el color de fondo al hacer hover */
    cursor: pointer;
}


.botonBuscar .texto{
    color: white; 
    font-size: 16px; 
    font-family: var(--fuente-principal);
    font-weight: 400; 
    letter-spacing: 2.48px; 
    word-wrap: break-word
}

/* Estilos para la parte central de la navbar (barra de búsqueda) */
.navbar-center input {
    width: 100%;
    height: 80%;
    flex-shrink: 0;
    background-color: #dbdbdb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-left: 4%;
}
.navbar-center input::placeholder{
    color: rgb(152, 152, 152);
}
/* Estilos para el contenedor del input */
.search-input {
    display: flex;
    align-items: center;
    background-color: #fff; /* Fondo blanco para el input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px;
    padding: 5px;
}

/* Estilos para el input */
.search-input input {
    flex: 1;
    border: none;
    outline: none; /* Quita el borde al hacer clic */
    padding: 5px;
    background: url('./Resources/e1c614ce98832b729e1034e23fb0dd88.png') no-repeat left center; /* Agrega la imagen de la lupa a la izquierda */
    background-size: 20px; /* Ajusta el tamaño de la imagen */
}

/* Estilos para el botón */
.search-input button {
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilo para el botón al hacer hover */
.search-input button:hover {
    background-color: #555;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    padding: 0px 0px 2px 5px;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
}

.navbar-right .contenedorIconoCarrito{
    display: flex;
    justify-content: flex-end;
    width: 80px;
}

.navbar-right .contenedorIconoCarrito .carrito {
    width: 65px; 
    height: 44px; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    background: linear-gradient(0deg, #6644A6 0%, #6644A6 100%); 
    border-radius: 35px;
    margin-right: 10%;
    padding-right: 2%;
    transition: width 0.3s; /* Agregar la propiedad de transición */
}

.navbar-right .contenedorIconoCarrito .carrito span{
    display: none;
    padding-left: 5px;
}

.navbar-right .contenedorIconoCarrito .carrito .show{
    display:block;
}

.navbar-right .carrito.ampliado {
    width: 80px;
}

.navbar-right .carrito:hover{
    cursor: pointer;
}
.navbar-right .usuario:hover{
    cursor: pointer;
}

.navbar-right .carrito img{
    position: relative;
    max-height: 73%;
}

.navbar-right .usuario{
    width: 44px; 
    height: 44px; 
    left: 0px; top: 0px; 
    align-items: center;
    justify-content: center;
    background: #E4E4E4; 
    border-radius: 102px;
}

.navbar-right .usuario img{
    position: relative;
    max-height: 100%;
}

/* CARROUSEL */
.carousel-main-container {
    display: flex;
    align-items: center;
}

.carousel-item {
    display: flex;
    height: 43vh;
    width: 33vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); 
    box-shadow: 0px 0px 60px -8px rgba(169, 133, 218, 0.80); 
    border-radius: 5px; 
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el cambio */ 
}
.carousel-item:hover {
    box-shadow: 0px 0px 20px 6px rgba(169, 133, 218, 0.80); 
    /* cursor: pointer; */
}

.carousel-item img{
    cursor: pointer;
}

.carousel-main-container .carousel-item .carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 32px;
    font-weight: 400;
    font-family: var(--fuente-principal);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}

.carousel-main-container .carousel-item .carousel-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
}
.carousel-main-container .carousel-item .carousel-content .info-content {
    position: absolute;
    width: 100%;
    padding-top: 20%;
    padding-left: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.8) 100%);
    cursor: pointer;
    z-index: 2; /* Ajusta el z-index para que esté por encima de overlayOscura */
}

.carousel-main-container .carousel-item .carousel-content .overlayOscura {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar el cambio */
    z-index: 1; /* Asegura que overlayOscura esté detrás de info-content */
}

.carousel-main-container .carousel-item:hover .carousel-content .overlayOscura {
    opacity: 0;
}



.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    color: var(--price-color);
    font-size: 20px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    word-wrap: break-word;
}

.secundary { 
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.secundary .carousel-container-recommended {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-left: 23%;
}
.secundary .carousel-container-adventure {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-left: 23%;
}
.secundary h1{
    color: #A985DA;
    margin-left: 25%;
    font-family: var(--fuente-principal);
    font-size: 30px;
    font-weight: 300;
}
.secundary .carousel-item {
    display: flex;
    background: #111121;
    flex-direction: column;
    height: 24vh;
    width: 22vw;
    padding: 8px 8px 5px 8px;
    box-shadow: 6px 8px 24px -6px rgba(0, 0, 0, 0.8); 
    border-radius: 5px; 
    overflow: hidden; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    align-content: space-between;
    position: relative;
}
.secundary .carousel-item .carousel-image {
    width: 100%;
    height: 70%;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(119, 77, 211);
    margin-bottom: 2%;
    overflow: hidden;
}

.secundary .carousel-item .carousel-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.secundary .carousel-item .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; 
}
.secundary .carousel-item:hover .play-button {
    opacity: 1; /* Mostrar el botón cuando se hace hover */
}

.secundary .carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Color semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

.secundary .carousel-item:hover .overlay {
    opacity: 1; /* Mostrar la capa semi-transparente al hacer hover */
}

.secundary .carousel-item .title { 
    color: #E4E4E4;
    font-size: 20px;
    font-family: var(--fuente-principal);
}
.secundary .carousel-item .price { 
    color: var(--price-color);
    font-size: 14px;
}

#botonMasJuegos {
    margin: 100px 0px 50px 53%;
    padding: 10px 20px 10px 20px;
    background: #6644A6;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
    transition: background-color 0.3s; /* Agrega una transición suave */
}

#botonMasJuegos:hover {
    background: #331D70; /* Cambia el color de fondo al hacer hover */
    cursor: pointer;
}
#botonMasJuegos .texto{
    color: white; 
    font-size: 14px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10; 
    letter-spacing: 2.48px; 
    word-wrap: break-word
}




.free {
    filter: brightness(2);
}
.secundary .carousel-item .comprar{
    padding: 2px 5px 2px 5px;
    background: rgb(40, 142, 118);
    color: white;
    font-family: var(--fuente-principal);
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
    transition: transform 0.3s ease;
    position: absolute;
    margin-left: 64%;
    margin-bottom: 5%;
}

.comprar.active {
    transform: rotateY(135deg);
}

.textoBotonCarrito, .imagenCarrito {
    transition: opacity 0.3s ease, transform 0.3s ease; /* Agregamos una transición a la imagen */
}

.textoBotonCarrito.hidden {
    opacity: 0;
}

.imagenCarrito.hidden {
    opacity: 0;
}

.comprar img{
    width: 15px;
    margin-left: -10px;
}
.pago:hover{
    cursor:auto;
}
.comprar:hover{
    cursor: pointer;
}


/* Menu lateral usuario */
/* Estilo inicial del menú lateral */
.menu-lateral {
    position: fixed;
    top: 0;
    right: -250px; /* Empieza fuera de la pantalla */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease; /* Agregamos una transición suave */
    z-index: 5;
}

/* Estilo del fondo semi-transparente */
.fondo-semi-transparente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color semi-transparente */
    display: none; /* Inicialmente oculto */
    z-index: 1; /* Coloca el fondo por encima de otros elementos */
}


.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-lateral li {
    margin: 10px 0;
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo del botón de usuario */
.usuario:hover {
    cursor: pointer;
}

/* Estilo para mostrar el menú lateral */
.menu-activo {
    right: 0;
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #E8E8EB;
}

/* Estilos del menú lateral */
.menu {
    left: 36.50px;
    top: 155px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 37px;
    display: inline-flex;
}

.menu-item {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.menu-link {
    color: #6644A6;
    font-size: 16px;
    font-family: Merriweather Sans;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 2.48px;
    word-wrap: break-word;
}

/* Estilos de los íconos de usuario */
.user-icons {
    left: 33px;
    top: 443px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
    display: inline-flex;
}

.user-icon {
    width: 49px;
    height: 47px;
    border-radius: 15px;
}

/* Estilos del perfil de usuario */
.user-profile {
    width: 72px;
    height: 72px;
    left: 33px;
    top: 29px;
    position: absolute;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}


.profile-image img {
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 50%;
}

.profile-name {
    left: 112px;
    top: 40%;
    position: absolute;
    color: #6644A6;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: 400;
    word-wrap: break-word;
}

/* Footer */
/* Estilos generales del footer */
/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #845EC2; /* Color de la fuente */
    margin-left: 30vh;
}

/* Estilos para el contenedor principal del footer */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 10%;
}

/* Estilos para cada sección del footer */
.footer-section {
    flex: 1;
    max-width: 20%; /* Ancho máximo de cada sección */
    text-align: left; /* Alineación del texto a la izquierda */
    margin-left: 2%;
    margin-right: 2%;
}

/* Estilos para los enlaces */
.footer-section a {
    text-decoration: none;
    color: #845EC2;
}

/* Estilos para los enlaces "Leer más" */
.footer-section a:hover {
    text-decoration: underline;
}

/* Estilos para los iconos de redes sociales */
.footer-section img {
    width: 40px;
    height: 40px;
    margin-top: 10px; /* Espacio entre el párrafo y los iconos */
}

.footer-section ul {
    list-style: none;
    padding: 0; /* Elimina el padding predeterminado */
}

.footer-section ul li {
    margin-top: 10px;
}

/* Carrito */
/* Estilos para el menú de carrito */

.carrito-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    height: auto;
    width: 400px;
    border-radius: 2%;
    top: -50%; 
    right: 5%;
    background-color: #E8E8EB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 3;
    transition: top 0.3s ease; /* Agrega una transición suave */
    opacity: 0.95; /* Agrega la propiedad opacity para hacer el menú un poco transparente */
}

.carrito-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.carrito-activo{
    top: 10%;
}

.carrito-menu li{
    color: #111121;
}

.contenedorImagenCarrito{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right: 10px;
    overflow: hidden;
}

.contenedorImagenCarrito img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrito-list li span {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para el elemento que muestra el total */
.carrito-list li:last-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.contenedorTextoCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.textoCarrito{
    color: #111121;
    font-size: 16px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    letter-spacing: 2.48px;

}
.precioCarrito {
    color: #111121;
    font-size: 16px;
    font-family: var(--fuente-principal);
    font-weight: 400;
}

.contenedorTotalCarrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.totalCarrito{
    color: #111121;
    font-size: 16px;
    font-family: var(--fuente-principal);
    font-weight: 400;
    letter-spacing: 2.48px;
}

.contenedorTotalCarrito.hidden{
    display: none;
}

.contenedorMensajeVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedorMensajeVacio li{
    color: #696969;
    font-family: var(--fuente-principal);
    letter-spacing: 2.48px;
}
