/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282831;
}
main {
    overflow: visible;
}


/* Estilos para la navbar */
.navbar {
    position: fixed;
    height: 7vh;
    top: 0;
    left: 0;
    right: 0;
    background: var(--secundario1, #111121);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.30);
    z-index: 2; /* Asegura que el navbar esté por encima del sidebar */
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25vh;
    height: 100%;
    padding-top: 15vh;
    overflow-y: visible;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: 1;
}

.sidebar {
    position: fixed;
    top: 60px; /* Ajusta esto según el alto del navbar */
    left: 0;
    bottom: 0;
    width: 25vh;
    background: #1C1C29;
    padding: 20px;
    box-shadow: 4px 0px 7px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 1; /* Asegura que el sidebar esté detrás del navbar */
}
.sidebar h3{
    color: #A985DA;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar img{
    width: 50%;
    height: 50%;
}


.navbar-left{
    display: flex;

    padding: 0px 5px 2px 0px;
    align-items: center;
    flex-shrink: 0;
}
/* Estilos para la parte izquierda de la navbar (logo) */
.navbar-left img {
    width: 62px;
    height: 71px;
    flex-shrink: 0;
}

.navbar-left h1{
    color: #A985DA;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    font-weight: 500;
    word-wrap: break-word
}
.navbar-center{
    display: flex;
    width: 380px;
    height: 75%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.navbar-center .botonBuscar {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background: #6644A6;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    transition: background-color 0.3s; /* Agrega una transición suave */
}

.navbar-center .botonBuscar:hover {
    background: #331D70; /* Cambia el color de fondo al hacer hover */
}


.botonBuscar .texto{
    color: white; 
    font-size: 16px; 
    font-family: 'Merriweather Sans', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.48px; 
    word-wrap: break-word
}

/* Estilos para la parte central de la navbar (barra de búsqueda) */
.navbar-center input {
    width: 100%;
    height: 80%;
    flex-shrink: 0;
    background-color: #dbdbdb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-left: 4%;
}
.navbar-center input::placeholder{
    color: rgb(152, 152, 152);
}
/* Estilos para el contenedor del input */
.search-input {
    display: flex;
    align-items: center;
    background-color: #fff; /* Fondo blanco para el input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px;
    padding: 5px;
}

/* Estilos para el input */
.search-input input {
    flex: 1;
    border: none;
    outline: none; /* Quita el borde al hacer clic */
    padding: 5px;
    background: url('./Resources/e1c614ce98832b729e1034e23fb0dd88.png') no-repeat left center; /* Agrega la imagen de la lupa a la izquierda */
    background-size: 20px; /* Ajusta el tamaño de la imagen */
}

/* Estilos para el botón */
.search-input button {
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilo para el botón al hacer hover */
.search-input button:hover {
    background-color: #555;
}

.navbar-right{
    display: flex;
    padding: 0px 0px 2px 5px;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
}


.navbar-right .carrito{
    width: 65px; 
    height: 44px; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    background: linear-gradient(0deg, #6644A6 0%, #6644A6 100%); border-radius: 35px;
    margin-right: 10%;
    padding-right: 2%;
}

.navbar-right .carrito img{
    position: relative;
    max-height: 73%;
}

.navbar-right .usuario{
    width: 44px; 
    height: 44px; 
    left: 0px; top: 0px; 
    align-items: center;
    justify-content: center;
    background: #E4E4E4; 
    border-radius: 102px;
}

.navbar-right .usuario img{
    position: relative;
    max-height: 100%;
}

/* CARROUSEL */
.carousel-main-container {
    display: flex;
    align-items: center;
}

.carousel-item {
    display: flex;
    height: 43vh;
    width: 43vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); 
    box-shadow: 0px 0px 60px -8px rgba(169, 133, 218, 0.80); 
    border-radius: 5px; 
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-start;
    transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el cambio */ 
}
.carousel-item:hover {
    box-shadow: 0px 0px 60px -4px rgb(168, 138, 210); /* Ajusta la intensidad de la sombra al pasar el mouse */
}

.carousel-item .carousel-content {
    width: 50%;  
    color: white; 
    font-size: 32px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400; 
    word-wrap: break-word;
    padding-left: 20px;
    padding-bottom: 20px;
}

.price {
    color: #5EECBC;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.secundary { 
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.secundary .carousel-container-recommended {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;

    margin-left: 23%;
}
.secundary .carousel-container-adventure {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-left: 23%;
}
.secundary h1{
    color: #A985DA;
    margin-left: 25%;
    font-family: serif;
    font-size: 30px;
    font-weight: 300;
}
.secundary .carousel-item {
    display: flex;
    background: #111121;
    flex-direction: column;
    height: 24vh;
    width: 22vw;
    padding: 8px 8px 5px 8px;
    box-shadow: 6px 8px 24px -6px rgba(0, 0, 0, 0.8); 
    border-radius: 5px; 
    overflow: hidden; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    align-content: space-between;
}
.secundary .carousel-item .carousel-image {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    background-color: rgb(119, 77, 211);
    margin-bottom: 2%;
}
.secundary .carousel-item .title { 
    color: #E4E4E4;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.secundary .carousel-item .price { 
    color: #abff9e;
    font-size: small;
}

#botonMasJuegos {
    margin: 100px 0px 50px 53%;
    padding: 10px 20px 10px 20px;
    background: #6644A6;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    box-shadow: 6px 3px 24px -6px rgba(0, 0, 0, 0.8); 
    transition: background-color 0.3s; /* Agrega una transición suave */
}

#botonMasJuegos:hover {
    background: #331D70; /* Cambia el color de fondo al hacer hover */
}
#botonMasJuegos .texto{
    color: white; 
    font-size: 14px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10; 
    letter-spacing: 2.48px; 
    word-wrap: break-word
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    padding: 0px 0px 150px 250px;
    margin: 0px 0px 0px 0px;
}
footer h1{
    color: #A985DA;
    font-family: serif;
    font-size: 30px;
    font-weight: 300;
}