body{
    max-width: 1280px;
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Lato';
    src: url('ruta/donde/esta/almacenada/lato-regular.ttf') format('truetype');
    /* Agrega aquí otros formatos de fuente si tienes, como woff, woff2, etc. */
    /* Ejemplo para la fuente regular, ajusta según las variantes de Lato que tengas */
}

.nav-bar{
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 15vh;
    margin: 0;
    position: relative;
    z-index: 1;
}

.nav-bar .logo{
    width: 10%;
    height: 40%px;
}

/* .nav-bar .logo.hidden{
    display: none;
} */

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

.nav-bar .logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav-bar .menu-toggle{
    display: flex;
    justify-content: flex-start;
    width: 15%;
}

.nav-bar .comprar-button{
    text-align: center;
    width: 10%;
    height: 20px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    padding: 10px 20px;
    box-shadow: 4px 5px 0px 0px #02187E;
    font-family: 'Lato', sans-serif;
    color: #02187E;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;

}
section.first-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    width: 1280px;
    height: 85vh;
    top: 50px;
    margin: 0;
    position: relative;
    z-index: 0;
    padding: 0;
}


.first-section .sky{
    top: -80px;
    position: absolute;
    width: 1280px;
    object-fit: cover;
}


.first-section .edificios {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    padding: 0;
    z-index: 1;
    top: 750px;
}

.first-section .edificio-centro{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    padding: 0;
    z-index: 0;
    top: 750px;
}

.first-section .edificio-centro img{
    width: 100%;
    max-width: 543.5px;
    object-fit: cover;

}

.first-section .edificios img{
    width: 100%; /* Para que las imágenes ocupen el ancho completo del contenedor */
    max-width: 426.6px; /* Ajusta según sea necesario para tu diseño */
    margin: 0; /* Agrega un margen entre las imágenes */
}

.first-section .main-logo{
    position: absolute;
    width: 590px;
    height: 301px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -80px;
}

.first-section .main-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-section .spiders{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.first-section .spiders .gwen{
    position: absolute;
    left: 80px;
    top: 280px;
    width: 360px;
    height: 444px;
}

.first-section .spiders .peter{
    position: absolute;
    top: 320px;
    left: 380px;
    width: 465px;
    height: 465px;
}

.first-section .spiders .miles{
    position: absolute;
    right: 200px;
    top: 220px;
    width: 393px;
    height: 393px;
}

.webs{
    z-index: 4;
}

.web-peter{
    position: absolute;
    top: 310px;
    left: 0;
    width: 550px;
    height: 627px;
    z-index: 1;
}

.web-miles{
    position: absolute;
    top: 250px;
    right: 0;
    left: auto;
    width: 25%;
    z-index: 1;
}
/* .first-section .spiders .gwen:hover, .first-section .spiders .peter:hover, .first-section .spiders .miles:hover{
    transform: scale(1.1);
    transition: 0.9s;
} */


/* SECOND SECTION */

.second-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 680px;
    z-index: 1;
}

.text-zone{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    position: absolute;
    width: 50%;
    top: 890px;
    left: 10%;
    text-align: initial;
    z-index: 2;
}
.text-zone p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-zone h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-align: initial;
    margin: 0;
    padding: 0;
}

.duende-verde{
    position: absolute;
    top: 800px;
    height: 921px;
    width: 553px;
    right: 0;
    z-index: 2;
}

.duende-verde img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gameplay{
    position: absolute;
    top: 1220px;
    width: 60%;
    left: 8%;
    z-index: 1;
}

.gameplay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* THIRD SECTION */

section.third-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1750px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.third-section .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.third-section .cards .gameplay-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 50%;
}

.third-section .cards .gameplay-card p{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gameplay-card img{
    width: 330px;
    height: 300px;
    object-fit: cover;
}

/* FOURTH SECTION */

.fourth-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2750px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: #000;
}

.fourth-section .gwen-section{
    width: 1280px;
    height: 566px;
    position: absolute;
    top: -100px;
}

.fourth-section .gwen-section .cards-gwen{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fourth-section .gwen-section .cards-gwen .card-gwen1{
    width: auto;
    height: 456.509px;
    position: absolute;
    padding: 0;
    top: -740px;
    left: 45px;
}

.fourth-section .gwen-section .cards-gwen .card-gwen2{
    width: auto;
    height: 525.787px;
    position: absolute;
    top: -590px;
    left: 40px;
}
.fourth-section .gwen-section .cards-gwen .card-gwen3{
    width: auto;
    height: 626.509px;
    position: absolute;
    top: -420px;
    left: 50px;
}

/* Company section */

.company-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.company-section h2 {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* Ajusta el valor según sea necesario para aumentar el espacio entre líneas */
    position: absolute;
    max-width: 660px;
    left: 100px;
    top: 600px;
}



.company-section .postal-company {
    margin-top: 900px;
    width: 1077.059px;
    height: 527.626px;
    z-index: 2;
    box-shadow: 20px 25px 25px 0px rgba(0, 0, 0, 0.4);
}


.company-section .postal-company .trees{
    position: absolute;
    height: 530px;
    top: 900px;
}

.company-section .postal-company .elastic{
    position: absolute;
    top: 805px;
    left: 130px;
}

.company-section .postal-company .bpanter{
    position: absolute;
    width: auto;
    width: 368.308px;
    height: auto;
    transform: rotate(13.615deg);
    top: 710px;
    right: 300px;
}

.company-section .postal-company .hulk{
    position: absolute;
    top: 1015px;
    right: 50px;
}

.company-section .postal-company .grass{
    position: absolute;
    height: 530px;
    top: 900px;
}

.svg-white{
    position: absolute;
    top: 1290px;
}


/* FIFTH SECTION */

.svg-white{
    z-index: 1;
}
.fifth-section{
    position: absolute;
    top: 1700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 83%;
    height: 100%;
    gap: 140px;
    z-index: 2;
}

.fifth-section h2{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%; 
    margin: 0;
    padding: 0;
    margin-bottom: -80px;
}

.fifth-section .article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    max-height: 302.762px;
}

.fifth-section .article .text-container{
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.fifth-section .article .text-container h4{
    margin: 0;
    margin-bottom: 10px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}

.fifth-section .article .text-container p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 94.5%;
}

/* SIXTH SECTION */

.fourth-section .sixth-section{
    position: absolute;
    top: 3300px;
    background: #000;
    width: 100%;
    height: 650px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fourth-section .sixth-section .cont-sixth{
    width: 800px;    
    margin-left: 9%;
}


.fourth-section .sixth-section h2{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fourth-section .sixth-section .button-comprar{
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    width: 292px;
    height: 50px;
    box-shadow: 4px 5px 0px 0px #02187E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section .sixth-section .button-comprar .button-text{
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}


/* SEVENTH SECTION */

.seventh-section{
    position: absolute;
    top: 3926px;
    width: 100%;
    height: 650px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
}

.seventh-section.custom{
    position: absolute;
    top: 3926px;
    width: 100%;
    height: 650px;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
}

.seventh-section.custom.hidden{
    display: none;

}

.seventh-section .svg-white2{
    position: absolute;

    z-index: 7;
    /* transform: scaleY(-1); */
}
.over{
    z-index: 5;
}
.gwen2{
    position: absolute;
    width: 268px;
    height: 416.5px;
    top: 3920px;
    left: 180px;
    z-index: 8;
}

.peter2{
    position: absolute;
    width: 416.5px;
    height: 457.5px;
    top: 3940px;
    left: 400px;
    z-index: 8;
}

.miles2{
    position: absolute;
    width: 313.5px;
    height: 398.5px;
    top: 3920px;
    right: 180px;
    z-index: 8;
}

.clicked{
    transform: scale(1.1);
    transition: 0.9s;
}

.blur{
    filter: blur(5px);
    transform: scale(0.9);
    transition: 0.4s;
    z-index: 5;
}


.seventh-section .svg-custom{
    position: absolute;
    top: -170px;
    z-index: 3;
    fill: #C92B94;
    pointer-events: none;
}

.seventh-section .bordersup-svg{
    position: absolute;
    top: -173px;
    z-index: 2;
}

.seventh-section .borderinf-svg{
    position: absolute;
    top: 526px;
    z-index: 2;
}


/* EIGHTH SECTION */

.eighth-section{
    position: absolute;
    top: 7870px;
    width: 100%;
    height: 650px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.edificiosF{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    padding: 0;
    z-index: 1;
    
}

.content-end{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -530px;
    padding: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 816px;
}

.content-end h2{
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; 
}

.content-end .mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-end .mail .input-mail{
    width: 562px;
    height: 100px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    background: #FFF;
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex-direction: row;
}
.content-end .mail .input-mail input{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    border: none;
    width: 90%;
    height: 30px;
    background: #FFF;
    outline: none;
    font-family: 'Lato', sans-serif;
}
.content-end .mail .button-suscribe{
    width: 218px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-end .mail .button-suscribe .button-text{
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}

.content-end .under{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    width: 92%;
}

.content-end .under p{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 578px;
}

.under a{
    color: #000;
    cursor: pointer;
}


.mpix, .gpix, .ppix{
    position: absolute;
    z-index: 10;
}

.mpix{
    top: 490px;
    left: 220px;
}

.gpix{
    top: 420px;
    left: 530px;
}

.ppix{
    top: 320px;
    right: 200px;
}

/* FOOTER */

.footer{
    position: absolute;
    width: 100%;
    height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    align-items: center;
    top: 8600px;
    background: #5E5E5D;
}

.footer .consoles{
    position: absolute;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 80px;
    background: #242424;
}

.footer .end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.footer .end p{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 94.5%; 
    letter-spacing: 2.2px;
    width: 820px;
}

.footer .end h4{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; 
    letter-spacing: 2.2px;
}

.end a{
    color: #FFF;
    cursor: pointer;
    margin-right: 15px;
}

