.hidden {
    display: none;
}
body {
    display: flex;
    background-color: transparent;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.content {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1080px;
    z-index: 2;
}
.bkground {
    z-index: 1;
    width: 100vw;
    height: 9500px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-bar{
    display: flex;
    justify-content:space-between;
    gap: 100px;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    margin: 0;
    padding-top: 30px;
    position: relative;
    z-index: 1;
}

.nav-bar .logo{
    width: 10%;
    height: 40px;
    opacity: 0;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

.nav-bar .logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav-bar .menu-toggle{
    display: flex;
    justify-content: flex-start;
    width: 15%;
}

.nav-bar .comprar-button{
    text-align: center;
    width: 10%;
    height: 20px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    padding: 10px 20px;
    box-shadow: 4px 5px 0px 0px #02187E;
    font-family: 'Lato', sans-serif;
    color: #02187E;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}
section.first-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 900px;
    top: 0px;
    margin: 0;
    position: relative;
    padding: 0;
}
.container {
    width: 100%;
}

.first-section .edificios {
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    padding: 0;
    z-index: 1;
    top: 80px;
}

.first-section .edificio-centro{
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    bottom: 0;
    padding-bottom: 100px;
    z-index: 0;
}

.first-section .edificio-centro img{
    width: 100%;
    max-width: 543.5px;
    object-fit: cover;

}

.first-section .edificios img{
    width: 100%; /* Para que las imágenes ocupen el ancho completo del contenedor */
    max-width: 426.6px; /* Ajusta según sea necesario para tu diseño */
    margin: 0; /* Agrega un margen entre las imágenes */
}

.first-section .main-logo{
    position: absolute;
    width: 133px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -600px;
    z-index: 10;
}

.first-section .main-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-section .spiders{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.first-section .spiders .gwen{
    position: absolute;
    left: 0px;
    top: 280px;
    width: 360px;
    height: 444px;
    transform: scale(0);
    transition: transform 0.2s;
}

.first-section .spiders .gwen.show{
    transform: scale(1);
}

.first-section .spiders .peter{
    position: absolute;
    top: 320px;
    left: 310px;
    width: 465px;
    height: 465px;
    transform: scale(0);
    transition: transform 0.2s;
}

.first-section .spiders .peter.show{
    transform: scale(1);
}

.first-section .spiders .miles{
    position: absolute;
    right: 50px;
    top: 190px;
    width: 393px;
    height: 393px;
    transform: scale(0);
    transition: transform 0.2s;
}

.first-section .spiders .miles.show{
    transform: scale(1);
}

.webs{
    z-index: 4;
}

.web-peter{
    position: absolute;
    top: 310px;
    left: -70px;
    width: 550px;
    height: 627px;
    z-index: 1;
    transform: scale(0);
    transition: transform 0.2s;
}

.web-peter.show{
    transform: scale(1);
}

.web-miles{
    position: absolute;
    top: 250px;
    right: -100px;
    left: auto;
    width: 25%;
    z-index: 1;
    transform: scale(0);
    transition: transform 0.2s;
}
.web-miles.show{
    transform: scale(1);
}


/* SECOND SECTION */

.second-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 680px;
    z-index: 1;
}

.second-section.front{
    left: 2000px;
    transition: left 0.5s;
}

.second-section.front.active{
    left: 0;
}

.text-zone{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    position: absolute;
    width: 50%;
    top: 890px;
    left: -50%;
    text-align: initial;
    z-index: 2;
    transition: left 0.5s;
}
.text-zone p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
}
.text-zone h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-align: initial;
    margin: 0;
    padding: 0;
}

.text-zone p.active-text{
    opacity: 1;
    transition: opacity 0.5s;
}

.text-zone.active{
    left: 10%;
    transition: left 0.5s;
}

.duende-verde{
    position: absolute;
    top: 800px;
    height: 921px;
    width: 553px;
    right: -100%;
    z-index: 2;
    transition: right 0.5s; 
}

.duende-verde.active{
    right: -5%;
    transition: right 0.5s;
}

.duende-verde img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gameplay{
    position: absolute;
    top: 1220px;
    width: 60%;
    left: 8%;
    z-index: 1;
}

.gameplay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* THIRD SECTION */

section.third-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 800px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.third-section .cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 10%;
}

.third-section .cards.active .gameplay-card{
    transform: translateX(0);
    transition: transform 0.5s;
}

.third-section .cards .gameplay-card{
    display: flex;
    flex-direction: column;
    transform: translateX(-1200px);
    justify-content: space-between;
    align-items: start;
    width: 30%;
    height: 50%;
}

.third-section .cards .gameplay-card.first{
    z-index: 3;
}

.third-section .cards .gameplay-card.second{
    z-index: 2;
}

.third-section .cards .gameplay-card.third{
    z-index: 1;
}

.third-section .cards.active .gameplay-card.first{
    transition-delay: 0s;
}

.third-section .cards.active .gameplay-card.second{
    transition-delay: 0.3s;
}

.third-section .cards.active .gameplay-card.third{
    transition-delay: 0.6s;
}

.third-section .cards .gameplay-card p{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    transition: opacity 0.5s;
}

.third-section .cards.active .gameplay-card p{
    opacity: 1;
    transition-delay: 1s;
}

.gameplay-card img{
    width: 330px;
    height: 300px;
    scale: 0.9;
    object-fit: cover;
}

/* FOURTH SECTION */

.fourth-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3100px;
    margin: 0;
    padding: 0;
    width: 1080px;
    height: auto;
    background: transparent;
}

.fourth-section .gwen-section{
    width: 100%;
    height: 566px;
    position: absolute;
    top: -100px;
}

.fourth-section .gwen-section .cards-gwen{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fourth-section .gwen-section .cards-gwen .card-gwen1{
    width: auto;
    height: 180px;
    position: absolute;
    padding: 0;
    top: 0px;
    left: 5px;
    transition: 0.4s;
    transform: perspective(300px) rotateY(25deg) rotate(-15deg) scale(.9);
}

.fourth-section .gwen-section .cards-gwen .card-gwen2{
    width: auto;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 0px;
    transition: 0.4s;
    transform: perspective(300px) rotateY(25deg) rotate(-28deg) scaleX(.87) scaleY(1);
}
.fourth-section .gwen-section .cards-gwen .card-gwen3{
    width: auto;
    height: 200px;
    position: absolute;
    top: 335px;
    left: 65px;
    transition: 0.4s;
    transform: perspective(300px) rotateX(10deg) rotateY(30deg) rotate(-40deg) scaleX(1.1) scaleY(1);
}

.fourth-section .gwen-section .cards-gwen .card-gwen1:hover, .fourth-section .gwen-section .cards-gwen .card-gwen2:hover, .fourth-section .gwen-section .cards-gwen .card-gwen3:hover{
    transform: perspective(300px) rotateY(0deg) rotate(0deg) scale(1.1);
    transition: 0.4s;
    z-index: 10;
}

.fourth-section .gwen-section .cards-gwen .card-gwen3:hover{
    transform: scaleX(1.3);
}

.fourth-section .gwen-section .cards-gwen .card-gwen1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-gwen1:hover, .card-gwen2:hover, .card-gwen3:hover{
    transform: scale(1.1);
    transition: 0.9s;
}

/* Company section */

.company-section{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 620px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.company-section .h2 {
    position: absolute;
    max-width: 660px;
    left: 0px;
    top: 0px;
    transition: 0.5s;
}

.company-section .h2 h2{
    transform: translateX(-600px);
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
    transition: transform 0.5s; 
}

.company-section .h2.active h2{
    transform: translateX(0);
    left: 100px;
    transition: transform 0.5s;
}

.company-section .h2.active .first{
    transition-delay: 0s;
}
.company-section .h2.active .second{
    transition-delay: 0.3s;
}
.company-section .h2.active .third{
    transition-delay: 0.5s;
}


.company-section .postal-company {
    margin-top: 300px;
    width: 1077.059px;
    height: 527.626px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 20px 25px 25px 0px rgba(0, 0, 0, 0.4);
}


.company-section .postal-company .trees{
    position: absolute;
    height: 530px;
    top: 300px;
    z-index: 10;
}

.company-section .postal-company .elastic{
    position: absolute;
    top: 205px;
    left: 10px;
    transform: translateY(350px);
    transition: transform .5s;
    z-index: 10;
}

.company-section .postal-company .elastic.active{
    transform: translateY(0);
    transition: transform .5s;
}

.company-section .postal-company .bpanter{
    position: absolute;
    width: auto;
    width: 368.308px;
    height: auto;
    transform: rotate(13.615deg);
    top: 110px;
    right: 270px;
    transform: translateY(350px);
    transition: transform .5s;
}
.company-section .postal-company .bpanter.active{
    transform: translateY(0);
    transition: transform .5s;
}

.company-section .postal-company .hulk{
    position: absolute;
    top: 415px;
    right: 50px;
    transform: translateX(350px);
    transition: transform .5s;
    z-index: 10;
}
.company-section .postal-company .hulk.active{
    transform: translateX(0);
    transition: transform .5s;
}

.company-section .postal-company .grass{
    position: absolute;
    height: 530px;
    transform: translateZ(100px);
    top: 300px;
    z-index: 11;
}

.svg-white{
    position: absolute;
    top: 1290px;
}


/* FIFTH SECTION */

.svg-white{
    z-index: 1;
}
.fifth-section{
    position: absolute;
    top: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 140px;
    z-index: 2;
}

.fifth-section h2{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%; 
    margin: 0;
    padding: 0;
    margin-bottom: -80px;
}

.fifth-section .article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    max-height: 302.762px;
}

.fifth-section .article .text-container{
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.fifth-section .article .text-container h4{
    margin: 0;
    margin-bottom: 10px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}

.fifth-section .article .text-container p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 94.5%;
}

/* SIXTH SECTION */

.fourth-section .sixth-section{
    position: absolute;
    top: 3300px;
    background: transparent;
    width: 100%;
    height: 650px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fourth-section .sixth-section .cont-sixth{
    width: 800px;    
    margin-left: 0%;
}


.fourth-section .sixth-section h2{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fourth-section .sixth-section .comprar-button{
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    width: 292px;
    height: 50px;
    box-shadow: 4px 5px 0px 0px #02187E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section .sixth-section .comprar-button .button-text{
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}
.nav-bar .comprar-button:hover,
.fourth-section .sixth-section .comprar-button:hover {
    background-color: #2982FF;
    /* Cambia el color de fondo al pasar el mouse sobre el botón */
    cursor: pointer;
}
/* SEVENTH SECTION */

.seventh-section{
    position: absolute;
    top: 3926px;
    width: 100%;
    height: 650px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
}

.seventh-section.custom{
    position: absolute;
    top: 3926px;
    width: 100%;
    height: 650px;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
}

.seventh-section.custom.hidden{
    display: none;

}

.seventh-section .svg-white2{
    position: absolute;

    z-index: 7;
    /* transform: scaleY(-1); */
}
.over{
    z-index: 5;
}
.gwen2{
    position: absolute;
    width: 268px;
    height: 416.5px;
    top: 3920px;
    left: 70px;
    z-index: 8;
}

.peter2{
    position: absolute;
    width: 416.5px;
    height: 457.5px;
    top: 3940px;
    left: 300px;
    z-index: 8;
}

.miles2{
    position: absolute;
    width: 313.5px;
    height: 398.5px;
    top: 3920px;
    right: 80px;
    z-index: 8;
}

.clicked{
    transform: scale(1.1);
    transition: 0.9s;
}

.blur{
    filter: blur(5px);
    transform: scale(0.9);
    transition: 0.4s;
    z-index: 5;
}


.seventh-section .svg-custom{
    position: absolute;
    top: -170px;
    z-index: 3;
    fill: #C92B94;
    pointer-events: none;
}

.seventh-section .bordersup-svg{
    position: absolute;
    top: -173px;
    z-index: 2;
}

.seventh-section .borderinf-svg{
    position: absolute;
    top: 526px;
    z-index: 2;
}


/* EIGHTH SECTION */

.eighth-section{
    position: absolute;
    top: 8200px;
    width: 1080px;
    height: 650px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.edificiosF{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    padding: 0;
    z-index: 1;
}
.edificiosF img{
    width: 100%;
}

.content-end{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -530px;
    padding: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.content-end h2{
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; 
}

.content-end .mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-end .mail .input-mail{
    width: 662px;
    height: 100px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    background: #FFF;
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex-direction: row;
}
.content-end .mail .input-mail input{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    border: none;
    width: 100%;
    height: 30px;
    background: #FFF;
    outline: none;
    font-family: 'Lato', sans-serif;
}
.content-end .mail .button-suscribe{
    width: 218px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-end .mail .button-suscribe .button-text{
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}

.content-end .under{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    width: 92%;
}

.content-end .under p{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 578px;
}

.under a{
    color: #000;
    cursor: pointer;
}


.mpix, .gpix, .ppix{
    position: absolute;
    z-index: 10;
}

.mpix{
    top: 490px;
    left: 220px;
}

.gpix{
    top: 420px;
    left: 530px;
}

.ppix{
    top: 320px;
    right: 200px;
}

/* FOOTER */

.footer{
    position: absolute;
    width: 1080px;
    height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    align-items: center;
    top: 8930px;
    background: #5E5E5D;
}

.footer .consoles{
    position: absolute;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #242424;
}
.footer .consoles img{
    width: 90%;
}

.footer .end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.footer .end p{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 94.5%; 
    letter-spacing: 2.2px;
    width: 820px;
}

.footer .end h4{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; 
    letter-spacing: 2.2px;
}

.end a{
    color: #FFF;
    cursor: pointer;
    margin-right: 15px;
}




/* BKGROUND */
:root {
    --loader-time: 5s;
}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 100vh;
    background-color: #FFE901; /* Amarillo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-img {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    animation: spin var(--loader-time) linear infinite;
    filter: invert(1) drop-shadow(0 0 10px rgba(92, 127, 255, 1)); /* Invierte los colores y agrega una sombra con color negro y opacidad */
}
@keyframes spin {
    0% {transform: rotate(0deg) scale(1);}
    50% {transform: rotate(-360deg) scale(0.8);}
    100% {transform: rotate(360deg) scale(1);}
}
.loader-bar {
    width: 500px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    height: 15px;
    margin-top: 30px;
    background-color: none; /* Blanco */
    box-shadow: 0 0 10px rgba(92, 127, 255, 0.7), inset 0 0 5px rgba(92, 127, 255, 0.7);
    
}
.loader-bar-content {
    width: 100%;
    height: 15px;
    border-radius: 20px;
    background-color: white;
    animation: progress var(--loader-time) forwards;
    box-shadow: inset 0 0 5px rgba(92, 127, 255, 0.5);
}
@keyframes progress {
    0% {width: 0%;}
    100% {width: 100%;}
}

.bkground .bkg-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bkground .nav-bar{
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    justify-content:space-around;
    gap: 100px;
    align-items: flex-start;
    width: 100vw;
    height: 600px;
    margin: 0;
    padding-top: 30px;
    position: relative;
    z-index: 1;
}

.bkground .hidden{
    opacity: 0;
    transition: all 1s;
}

.bkground .show{
    opacity: 1;
}

.bkground section.first-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 900px;
    top: 0px;
    margin: 0;
    position: relative;
    padding: 0;
}

.bkground .first-section .sky{
    top: -100px;
    position: absolute;
    width: 100vw;
    object-fit: cover;
}


/* SECOND SECTION */

.bkground .second-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 680px;
    z-index: 3;
}

.bkground .second-section.front{
    left: 2000px;
    transition: left 0.5s;
}

.bkground .second-section.front.active{
    left: 0;
}


/* THIRD SECTION */

.bkground section.third-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2150px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}


/* FOURTH SECTION */

.bkground .fourth-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3200px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background: #000;
}

.bkground .fourth-section .gwen-section{
    width: 100vw;
    height: 566px;
    position: absolute;
    top: -210px;
}
.bkground .fourth-section .gwen-section-bkg {
    background-color: black;
    width: 100vw;
    height: 820px;
    top: -210px;
}
.bkground .fourth-section .gwen-section img{
    width: 100vw;
}

/* SIXTH SECTION */

.bkground .fourth-section .sixth-section {
    position: absolute;
    top: 3167px;
    z-index: 0;
    border-bottom: 175px solid white;
    border-left: 100vw solid black;
    border-top: 125px solid white;
    width: 0;
    height: 340px;
}

/* EIGHTH SECTION */

.bkground .eighth-section{
    position: absolute;
    top: 8300px;
    width: 100vw;
    height: 650px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.bkground .gradient-background {
    position: absolute;
    width: 100vw;
    height: 1299px;
    top: -748px;
    background: linear-gradient(180deg, #8FBEFC 19.81%, #F7E3D8 76.14%);
}

/* FOOTER */

.bkground .footer{
    position: absolute;
    width: 100vw;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    align-items: center;
    top: 8700px;
    background: #5E5E5D;
}

.bkground .footer .consoles{
    position: absolute;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 80px;
    background: #242424;
}

.bkground .footer .end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.bkground .footer .end p{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 94.5%; 
    letter-spacing: 2.2px;
    width: 820px;
}

.bkground .footer .end h4{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; 
    letter-spacing: 2.2px;
}

.bkground .end a{
    color: #FFF;
    cursor: pointer;
    margin-right: 15px;
}

