body {
  padding: 0;
  margin: 0;
  background-color: #545454;
}


:root {
  --duracion-spiderweb-s: 1s;
  --spiderweb-left: 200px;
  --spiderweb-top: 200px;

  --venom-left: 400px;
  --venom-top: 390px;

  --miles-left: 250px;
  --miles-top: 400px;
}

/* SPIDERMAN */
.spiderman {
  scale: 2;
  width: 40px;
  height: 37px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: var(--spiderweb-left);
  top: var(--spiderweb-top);
  background: url(spiderman_spritesheet.png);
  /*Steps should be equal to number of frames*/
  animation: kick var(--duracion-spiderweb-s) steps(2) infinite;
}
.spiderweb {
  scale: 2;
  width: 12px;
  height: 4px;
  top: calc(var(--spiderweb-top) - 23px);
  position: absolute;
  transform: translate(-50%, -50%);
  background: url(spiderman_spritesheet.png);
  background-position: -117px -349px;
  animation: aparecer 0s linear forwards, spiderweb calc(var(--duracion-spiderweb-s)*2) steps(70) infinite;
}
#w2 {animation-delay: calc(var(--duracion-spiderweb-s)*0.5);}
#w3 {animation-delay: calc(var(--duracion-spiderweb-s)*1);}
#w4 {animation-delay: calc(var(--duracion-spiderweb-s)*1.5);}
#w5 {animation-delay: calc(var(--duracion-spiderweb-s)*2);}
#w6 {animation-delay: calc(var(--duracion-spiderweb-s)*2.5);}
#w7 {animation-delay: calc(var(--duracion-spiderweb-s)*3);}
#w8 {animation-delay: calc(var(--duracion-spiderweb-s)*3.5);}
@keyframes aparecer {100% {visibility: visible;}}
@keyframes spiderweb {
  0% {
      left: calc(var(--spiderweb-left) + 40px);
  }
  100% {
      left: 100%;
  }
}
@keyframes kick {
  0% {
    background-position: -18px -336px;
  }
  100% {
    background-position: -133px -336px;
  }
}

/* VENOM */
#eddie {
  scale: 2;
  width: 41px;
  height: 63px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: var(--venom-left);
  top: var(--venom-top);
  background: url(venom_spritesheet.png);
  background-position: -1484px -90px;
}
.transform {
  animation: transform 0.6s steps(1) forwards, prepare 2s steps(1) 0.6s infinite;
}
#eddie.venom {
  animation: prepare_venom 2s steps(1) 0.1s infinite;
}
@keyframes transform {
  0% {
    background-position: -1484px -90px;}
  14.2857% {
    background-position: -1448px -90px;}
  28.5714%  {
    background-position: -1414px -90px;}
  42.8571% {
    background-position: -1379px -90px;}
  57.1429% {
    background-position: -1337px -90px;}
  71.4286%{
    background-position: -1298px -90px;}
  100% {
    background-position: -1252px -90px;}
}
@keyframes prepare_venom {
  0% {
    width: 65px;
    background-position: -1772px -254px;}
  10% {
    background-position: -1709px -254px;}
  22%  {
    background-position: -1642px -254px;}
  40% {
    background-position: -1575px -254px;}
  55% {
    background-position: -1505px -254px;}
  65%{
    width:64px;
    left: calc(var(--venom-left) + 1px);
    background-position: -1440px -254px;}
  80% {
    width:65px;
    left: calc(var(--venom-left) - 1px);
    background-position: -1377px -254px;}
  90% {
    background-position: -1304px -254px;}
  100%  {
    width: 67px;
    background-position: -1161px -254px;}
}
#eddie.venom.attack {
  animation: attack_venom 0.6s steps(1) forwards;
}
#eddie.venom.hitted {
  animation: hitted_venom 0.6s steps(1) forwards;
}
@keyframes attack_venom {
  0% {
    width: 65px;
    background-position: -629px -114px;}
  20% {
    width: 68px;
    left: calc(var(--venom-left) - 1px);
    background-position: -550px -114px;}
  40%  {
    width: 100px;
    left: calc(var(--venom-left) - 18px);
    background-position: -435px -114px;}
  60% {
    background-position: -325px -114px;}
  80% {
    background-position: -217px -114px;}
  100%{
    width:100px;
    background-position: -124px -114px;}
}
@keyframes hitted_venom {
  0% {
    width: 50px;
    background-position: -586px -279px;}
  33% {
    width: 63px;
    left: calc(var(--venom-left) - 13px);
    background-position: -203px -204px;}
  66%  {
    width: 50px;
    left: calc(var(--venom-left) + 13px);
    background-position: -639px -279px;}
}
/* MILES */
#miles {
  scale: 2;
  width: 37px;
  height: 42px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: var(--miles-left);
  top: var(--miles-top);
  background: url(miles_spritesheet.png);
  background-position: -22px -175px;
  /*478 x 44*/
  animation: prepare_miles 0.8s steps(2) infinite;
}
@keyframes prepare_miles {
  0% {
    background-position: -162px -244px;}
  100% {
    background-position: -235px -244px;}
}
#miles.attack {
  animation: attack_miles 0.6s steps(1) forwards;
}
#miles.hitted {
  animation: hitted_miles 0.6s steps(1) forwards;
}
@keyframes hitted_miles {
  0% {
    background-position: -154px -319px;}
  20%  {
    background-position: -365px -319px;}
  45% {
    left: calc(var(--miles-left) - 10px);
  background-position: -237px -319px;}
  80% {
    left: calc(var(--miles-left) + 10px);
  background-position: -287px -319px;}
  100%{
    background-position: -365px -319px;}
}
@keyframes attack_miles {
  0% {
    background-position: -27px -244px;}
  33% {
    background-position: -72px -244px;}
  56%  {
    width: 43px;
    background-position: -113px -244px;}
  100%  {
    width: 43px;
    background-position: -113px -244px;}
}